@model CheckTheFridge.Models.MealViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Meal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instructions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instructions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredients)
        </dt>
        <dd>
            <table class="table table-hover">
                <tr>
                    <th>Ingredient</th>
                    <th>Quantity</th>
                    <th>Unit</th>
                </tr>
                @foreach (var ingredient in Model.Ingredients)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => ingredient.Label)</td>
                        <td>@Html.DisplayFor(modelItem => ingredient.Quantity)</td>
                        <td>@Html.DisplayFor(modelItem => ingredient.UnitLabel)</td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditMeal", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
